# Secrets
data/keystore/
data/geth/nodekey
pass.txt
.env

# Node.js
node_modules/
npm-debug.log*

# Logs
*.log
nohup.out

# System
.DS_Store
# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
