# Blockchain Data
arcana_data/
geth/
keystore/
.ethereum/
*.log
nohup.out

# Tooling and Environment
.cargo/
.rustup/
.local/
.cache/
node_modules/
build/
bin/

# Hidden Files
.*
!.gitignore
password.txt
miner_pass.txt
dev_wallet.txt
signer.txt
arcana_node/
*.log
